<div class="face-snap-card" [ngClass]="{ snapped: buttonString == 'bye' }">
    <h2>{{faceSnap.title | titlecase }}</h2>
    <P>{{faceSnap.description}}</P>
    <p *ngIf="faceSnap.location" > hey, I'm at {{faceSnap.location}} </p>
    <img [src]="faceSnap.img" [alt]="faceSnap.title">
    <P>{{faceSnap.createdDate | date: 'd MMMM yyyy' }} </P>

    <p>
        <button (click)="onSnap()">{{buttonString}} </button>
    <span [ngStyle]="{color: 'rgb(0,'+ faceSnap.snaps + ', 0'}">{{faceSnap.snaps}}</span>
    </p>
</div>
